Code/ZeldaMonogame.DesktopGL/obj/
Code/ZeldaMonogame.WindowsDX/obj/
Code/ZeldaMonogame.Android/obj/ 
Code/ZeldaMonogame.WindowsUWP/obj/ 
Code/ZeldaMonogame.Core/obj/ 
Code/ZeldaMonogame.iOS/obj/ 
Code/ZeldaMonogame.DesktopGL/bin/
Code/ZeldaMonogame.WindowsDX/bin/
Code/ZeldaMonogame.Android/bin/ 
Code/ZeldaMonogame.WindowsUWP/bin/ 
Code/ZeldaMonogame.Core/bin/ 
Code/ZeldaMonogame.iOS/bin/ 
Code/ZeldaMonogame.Core/Content/obj/ 
Code/ZeldaMonogame.Core/Content/bin/ 
